
<div class="btn-group" role="group">
    <a href='/hzxqs/?url=http://ehzrb.hz66.com/hzrb/html/2017-11/10/node_2.htm&type=2' class="btn btn-default " role="button">陈伟俊</a>
  </div>
  
   <div class="btn-group" role="group">
    <a href='/list/?url=http://ehzrb.hz66.com/hzrb/html/2017-11/10/node_2.htm&type=2' class="btn btn-default " role="button">钱三雄</a>
  </div>

  <div class="btn-group" role="group">
    <a href='/list/?url=http://ehzrb.hz66.com/hzrb/html/2017-11/10/node_2.htm&type=2' class="btn btn-default " role="button">其它领导</a>
  </div>

