{% extends "bootstrap/base.html" %}
{% block title %}{% endblock %}
{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
{% endblock %}

{% block scripts %}


<script type="text/javascript" src="/static/datatimepicker/jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/plus.js"></script>
<script type="text/javascript" src="/static/datatimepicker/bootstrap/js/bootstrap.min.js"></script>


<script src="/static/js/jquery-cookie.js"></script>

<link rel="shortcut icon" href="/static/images/favicon.ico" />

{% endblock %}

{% block navbar %}
{% endblock %}

{% block body_attribs %}{% endblock %}



{% block content %}

{% block page_content %}{% endblock %}
{% endblock %}
