<div style="height:90px; background:#fff;margin:0 auto;max-width:900px;margin-top:30px" align="left">
    <img src="/static/images/logo.jpg">
</div>
<div style="border-top:1px solid #d2d2d2; background:#fff;max-width:900px;margin:10px auto;" align="center">
    <div style="background:#fff; padding-bottom:30px;margin-left:50px;margin-right:80px ;margin-top:30px;
line-height:25px; text-align:left;font-size:14px;max-width:700px;">
        <p>{{ head_title }}</p>
        <p>{{ head_content }}</p></div>
</div>