<nav id="navi">
    <ul class="clr">
        <li><a href= "/">湖州</a></li>
        <li><a href= "/?catid=32,101">县区</a></li>
        <li><a href= "/get_ld/">领导</a></li>
        <li><a href= "/?catid=35,99">人事</a></li>
        <li><a href= "/?catid=73,98">政务</a></li>

        <li><a href= "/?catid=43">图说</a></li>
        <li><a href= "http://vzan.com/live/livedetail-517526?ver=636445379668464467&from=groupmessage">直播</a></li>
        <li><a href= "/?catid=52,104">原创</a></li>
        <li><a href= "/?catid=86,103">财经</a></li>
        <li><a href= "/paper/">报纸</a></li>
        
    </ul>
</nav>